<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div class="main-body">
        <div class="container">
            <div class="box1">
                <h1>Find yourself outside.</h1>
                <p id="main-descri">Discover and book tent camping, trekking and backpacking trips.</p>
                <div id="imageheader">
                    <div class="searchbox">
                        <div class="flex-box"><label for="where" class="labels">Where to?</label><br>
                            <label for="where" class="icons"><i class="fa fa-search"></i></label><input type="search"
                                name="searchplaces" id="where" class="search" placeholder="try dharmshala...">
                        </div>
                        <div class="flex-box"> <label for="guest" class="labels">Guests</label><br>
                            <label for="guests" class="icons"><i class="fa fa-user"></i></label><input type="search"
                                name="addguest" id="guests" class="search" placeholder="Add guests">
                        </div>
                        <div>
                            <button id="searchbtn"><i class="fa fa-search"></i></button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="box2">
                <div class="subbox1">
                    <div class="card">
                        <img src="images/camping.jpg" class="card-img-top" alt="...">
                        <div class="card-body" id="card-body1">
                            <h5 class="card-title">Camping</h5>
                            <p class="card-text">Watch nature closely.</p>
                            <a href="#!camping" class="btn btn-light explore" id="btn1">Explore</a>
                        </div>
                    </div>
                </div>
                <div class="subbox2">
                    <div class="card">
                        <img src="images/trekking.jpg" class="card-img-top">
                        <div class="card-body" id="card-body2">
                            <h5 class="card-title">Trekking for you!</h5>
                            <p class="card-text">The Best view comes after the Hardest Climb.</p>

                            <a href="#!trekking" class="btn btn-light explore" id="btn2">Explore</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box3">
                <div class="subbox1">
                    <h1>Backpacking</h1>
                    <p>Keep calm and backpack the world.</p>
                    <a href="#!backpack" class="btn btn-light" id="btn1">Plan Now</a>
                </div>
            </div>

        </div>


    </div>
    <div class="main-body2">

        <div class="container2">
            <h1 id="safetyheader">Safety at APScamp</h1>
            <div class="subbox" id="subbox1">
                <h3>Inclusion Policy</h3>
                <p>We have a zero-tolerance policy against discrimination at APScamp and are committed to
                    helping our Host and APScamper community be inclusive.</p>
            </div>
            <div class="flexcontainer">
                <div class="subbox" id="subbox2">
                    <h3>Hosting Standards</h3>
                    <p>All Hosts should review and adhere to these standards around providing a positive APScamp
                        experience, being a thoughtful neighbor, and serving as a responsible citizen.</p>
                </div>
                <div class="subbox" id="subbox3">
                    <h3>APSCampers Standards</h3>
                    <p>All APScampers should review and adhere to these standards for safety, trip preparation, and
                        respect in order to uphold APScamp's most important value: “leave it better.”</p>
                </div>
            </div>

        </div>
    </div>
</body>

</html>